@use 'mixins' as *;

// @include media-breakpoint-down(sm) {}
// @include media-breakpoint-up(md) {}
// @include media-breakpoint-down(md) {}
// @include media-breakpoint-down(lg) {}

* {box-sizing: border-box;}
* {font-family: "Noto Sans JP", sans-serif;}
img {
    max-width: 100%;
}

main {
    margin-right: 200px;
}

@include media-breakpoint-down(lg) {
    main {
        margin-right: 0;
        margin-top: 90px;
    }
}

.pblock {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;

    &:last-child {
        margin-bottom: 120px;
    }

    @include media-breakpoint-down(lg) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.mb-10 {
    margin-bottom: 20px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-90 {
    margin-bottom: 90px !important;
}

.mb-md-30 {
    @include media-breakpoint-down(lg) {
        margin-bottom: 30px !important;
    }
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.d-md-block {
    @media (min-width: 1371px) {
        display: block;
    }
}

.mv {
    position: relative;
    width: 100%;
    min-height: 100vh;

    &-txt {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    @include media-breakpoint-down(lg) {
        min-height: 50vh;
    }
}


.main-txt {
    text-align: center;
    font-size: 60px;
    color: #707070;
}
.sub-txt {
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    color: #B791CB;
}

@include media-breakpoint-down(lg) {
    .main-txt {
        font-size: 40px;
    }
    .sub-txt {
        font-size: 20px;
    }
}

p {
    line-height: 1.5;
    font-size: 16px;
    color: #707070;
}

a {
    color: #707070;

    &:hover {
        opacity: 0.8;   
    }
}

.ttl__style01 {
    margin-bottom: 30px;
    padding-left: 10px;
    border-left: 5px solid #B791CB;
    font-size: 28px;
    color: #707070;

    @include media-breakpoint-down(md) {
        font-size: 24px;
    }
}

.ttl__style02 {
    display: inline-block;
    margin-bottom: 30px;
    padding-bottom: 5px;
    font-size: 20px;
    color: #707070;
    font-weight: bold;
    border-bottom: 2px solid #B791CB;
    
    @include media-breakpoint-down(md) {
        font-size: 18px;
    }
}

.btn__style01 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 40%;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 100vh;
    font-size: 20px;
    font-weight: bold;
    background-color: #B791CB;
    color: #fff;
    transition: 0.2s;

    @include media-breakpoint-down(md) {
        width: 100%;
    }

    &::before {
        position: absolute;
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        font-size: 20px;
        line-height: 1;
        position: absolute;
        top: calc(50% - 10px);
        right: 20px;
        margin: 0;
        padding: 0;
        content: "\f105";
        transition: transform 0.3s ease;
    }

    &:hover {
        &::before {
            transform: translateX(5px);
        }
    }
}